@import "tailwindcss";


@theme{
  
  --color-purple-600: #7164c0;
  --color-purple-300: #d9ddee;
  --color-purple-500: #9492db;
  --color-grey-100: #eeeeef;
  --color-grey-200: #e6e9ed;
  --color-grey-600: #95989c;
  --color-purple-600-70: rgba(113, 100, 192, 0.7);
  --color-grey-600-50: rgba(149, 152, 156, 0.5);
}